.imagem-fundo {
    background-color: rgb(16, 236, 64);
    background-position: center;
    color: white;
    width: 100%;
    min-height: 16rem;
}

.imagem-fundo .navbar img {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 10rem;
    height: 2rem;
}

.imagem-fundo .navbar a {
    text-decoration: none;
    font-size: medium;
    padding: 0.4rem;
}

.imagem-fundo .navbar .nav-link2 {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
}

.imagem-fundo .address {
    width: 50%;
    padding-top: 3rem;
    margin: auto;
}

.imagem-fundo .address a {
    width: 50%;
    margin: auto;
    text-decoration: none;
}

main  {
    background-color: rgb(192, 61, 61);
    
}
.card{
    box-shadow: 10px 5px 5px red;}
